body {
  background-color: #f2eee0;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.App{
  font-family: 'Nunito', sans-serif;
}

h2 {
  margin: 0 0 0.5em;
  font-size: 3em;
}

h3 {
  margin: 3em 0 1em;
}

a:link,
a:visited {
  color: inherit;
  cursor: pointer;
}


.login-container,
.registration-container {
  margin: 5% 0 0;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.formField {
  margin: 1.2em 0 0 0;
  padding: 0;
  text-align: left;
  display: flex;
  margin-bottom: 5px;
  width: 100%;
}

.inputLabel {
  width: 11em;
  margin: 0;
  padding: 7px 12px;
  border: 2px solid #f1e4e4;
  border-radius: 2px 0 0 2px;
  color: #545454;
  background-color: #d2d2d2;
  text-align: center;
  font-size: 0.7em;
}

.inputField {
  width: 100%;
  margin: 0;
  padding: 3px 7px;
  border: 2px solid #f1e4e4;
  border-left: none;
  border-radius: 0 2px 2px 0;
  font-size: 1em;
}

.inputForm footer {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 1em 0 0;
  background-color: #00bdaa;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 3px solid darkgreen;
  font-size: 1.2em;
  font-weight: bold;
}