main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.App{
  font-family: 'Nunito', sans-serif;
}

blockquote {
  margin: 0 0 1em 0;
}

nav {
  min-width: 10em;
}


.login-container,
.registration-container {
  margin: 5% 0 0;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.formField {
  margin: 1.2em 0 0 0;
  padding: 0;
  text-align: left;
  display: flex;
  margin-bottom: 5px;
  width: 100%;
}

.inputLabel {
  border: 1px solid #d3dee7;
  margin: 0;
  padding: 7px;
  border-right: 1px solid #d3dee7;
  border-radius: 2px 0 0 2px;
  background-color: #d3dee7;
  width: 40%
}

.inputField {
  margin: 0;
  padding: 9px;
  border: 2px solid #d3dee7;
  border-left: none;
  border-radius: 0 2px 2px 0;
  width: 60%;
}