header{
  padding: 20px;
  background-color: #305f72;
  color: #c8e6f5;
}

h1{
  margin: 0;
  line-height: 1em;
}

nav {
  min-width: 13em;
  margin: 0 1em;
}

nav span {
  margin: 0 20px 0 0;
}

.flex{
  display: flex;
}

.header{
  justify-content: space-between;
  align-items: center;
}

.navLink{
  padding: 0 .5em;
  font-size: 20px;
  text-decoration: none;
  color: #1c2a43;
}

.headerTitle{
  font-size: .75em;
  max-width: 7em;
}

@media only screen and (max-width: 425px) {
  .headerTitle {
    font-size: 6vw;
    max-width: 5em;
  }
}